.flash-effect {
    position: relative;
}
.flash-effect:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
    opacity: .7;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}
/* .flash-effect:hover.flash-effect:before {
    animation: flashEffect .6s linear;
} */
.flash-effect-start-down.flash-effect:before {
    animation: flashEffect .3s linear;
}
.flash-effect-start-up.flash-effect:before  {
    animation: flashEffectUp .3s linear;
}
@keyframes flashEffect {
    0% {
        visibility: visible;
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(600px);
    }
}
@keyframes flashEffectUp {
    0% {
        visibility: visible;
        transform: translateY(700px);
    }
    100% {
        transform: translateY(-100px);
    }
}