.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 300px;
    padding: 50px;
}
.grid-item {
    width: 250px;
    /* height: 450px; */
    border: 1px solid grey;
}
.grid-item img {
    width: 100%;
    opacity: 1;
    transition: all 1s;
}

.grid-image-transition img  {
    display: none;
}
#dress1 {
    background-image: url('images/purse1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fade-img-a img {
    opacity: 0;
}