.products-grid {
    /* width: 800px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 300px;
    padding: 50px;
}
.grid-item {
    position: relative;
    width: 250px;
    /* border: 1px solid grey; */
    height: 390px;
    background-image: url('images/purse1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.grid-item img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s;
}

.grid-image-transition img  {
    display: none;
}
.fade-img-a img {
    opacity: 0;
}

/* grid item links */
.grid-item-buttons-container {
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.grid-item-buttons-container a {
    display: inline-block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    bottom: -80px;
    opacity: 0;
    visibility: hidden;
}
.grid-item-buttons-container .tool-tip {
    visibility: hidden;
}
.grid-item-buttons-container .select-link {
    margin-right: 20px;
    background-image: url('images/eye.svg');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item-buttons-container .compare-link {
    background-image: url('images/share.svg');
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
/* animate */
.grid-item:hover .grid-item-buttons-container a {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.grid-item-buttons-container a:hover {
    transition: none;
    background-color: lightgray;
}
.select-link {
    transition: all .6s ease-in-out;
}
.compare-link {
    transition: all .6s ease-in-out .2s;
}