* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: initial;
}
ul {
    list-style-type: none;
}

/* colors*/
:root {
    --primary-color: #6da5a2;
}



/* header */
header {
    width: 100%;
    background-color: white;
    padding-bottom: 60px;
    transition: all .8s;
    z-index: 10;
}
header .header-content {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
}
/* header announcemnet banner */
.header-banner {
    padding: 15px;
    background-color: var(--primary-color);
    text-align: center;
}
.logo {
    width: 250px;
    margin-right: auto;
}
.header-link {
    margin-right: 20px;
}
.small-icon-c img {
    width: 10px;
}
/* menu icons */
.menu-link {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.menu-link {
    margin-right: 25px;
}
.account-link {
    background-image: url('images/my-account-cat-icon.png');
    margin-left: auto;
}
.cart-link {
    background-image: url('images/shopping-cart.svg');
}
.search-link {
    background-image: url('images/search.svg');
}
/* links bottom border animation */
.bdr-slide {
    position: relative;
}
.bdr-slide::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: blue;
    visibility: hidden;
    transition: all .3s;
}
.bdr-slide:hover.bdr-slide::after,
.bdr-slide:focus.bdr-slide::after {
    visibility: visible;
    width: 100%;
}
#shop-link:hover .bdr-slide::after {
    visibility: visible;
    width: 100%;
}
/* drop down menus */
#shop-link {
    position: relative;
    padding: 35px;
}
#shop-link:hover .shop-container,
#shop-link:focus-within .shop-container {
    visibility: initial;
    transform: translateY(0);
    opacity: 1;
}
.shop-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    top: 100%;
    left: -300px;
    width: 900px;
    border: 1px solid red;
    padding: 25px;
    background-color: white;
    overflow: hidden;
    transform: translateY(50px);
    transition: all .3s;
}
.shop-container ul {
    margin-right: 30px;
}
.item-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
/* transition menu class use js*/
.an-menu-up-vis {
    display: flex;
    animation: menu-up .4s linear;
}
@keyframes menu-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.an-menu-up-vis-t {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}







/* MAIN */
.hero {
    width: 100%;
}
main {
    margin-bottom: 900px;
}
.center-wrapper {
    width: 70vw;
    margin: auto;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-block {
    width: 400px;
    height: 600px;
    background-image: url('images/grandma.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}