* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: initial;
}
ul {
    list-style-type: none;
}




/* header */
header {
    display: flex;
    align-items: center;
}
.header-link {
    margin-right: 20px;
}
.small-icon-c img {
    width: 10px;
}