* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: initial;
}
ul {
    list-style-type: none;
}




/* header */
header {
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
}
.logo {
    width: 250px;
    margin-right: auto;
}
.header-link {
    margin-right: 20px;
}
.small-icon-c img {
    width: 10px;
}
/* menu icons */
.menu-link {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.menu-link {
    margin-right: 25px;
}
.account-link {
    background-image: url('images/my-account-cat-icon.png');
    margin-left: auto;
}
.cart-link {
    background-image: url('images/shopping-cart.svg');
}
.search-link {
    background-image: url('images/search.svg');
}
/* links bottom border animation */
